@media screen and (max-width:498px) {
    #masthead{
        display: none;
    }
}
#nav{
    z-index: 100;
    position: fixed;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
width: 100%;
}
#nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    color: #9C1112B2;
}
