body{
    padding: 0%;
    margin: 0%;
}
nav{
    width: 120%;
    height: 77px;
    position: fixed;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
ul{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 120px;
    justify-content: center;
    align-items: center;
}
li{
    color: #9C1112;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
}
