.buttons{
    box-sizing: border-box;
    border: 4px solid #FFFFFF;
    height: 40px;
    width: 131px;
    border-radius: 25px;
    text-align:center;
}
button{
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .buttonss{
      font-size: 14px; 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
