.section-photo-gallery{
    margin-bottom: 100px;
}

.caption {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-photo-gallery .owl-carousel.owl-drag .owl-item {
    display: flex;
    justify-content: space-between;
}
.section-photo-gallery .owl-carousel .owl-nav{
    position: absolute;
    display: flex;
    width: 100%;
    gap:25px;
    justify-content: space-around;
    margin-top:50px;

}
.section-photo-gallery .owl-carousel .owl-nav svg{
    background: red;
    border-radius: 25px;
}
