.section-team-and-contact .container .grid{
    grid-template-columns: 58% 38%;
    grid-gap: 4%;
}
.title{
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-team-and-contact .subtitle,
.section-team-and-contact .title{
    color: #FFF;
}
 .subtitle{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.team-name{
    color: rgba(255, 255, 255, 0.78);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.team-description{
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.team-section{
    margin-left: -3vw;
    padding-left: 3vw;
    background: #9C1112;
    box-shadow: 8px 22px 17px 14px rgba(156, 17, 18, 0.58);
}
.contact-section form input,
.contact-section form textarea
{
    font: Montserrat "Helvetica Neue";
    color: #9C1112;
    box-shadow:5px 6px 6px 0px rgba(156, 17, 18, 0.58);
    border-radius: 10px;
    width: 80%;
}
.contact-section form input:focus,
.contact-section form textarea:focus{
    outline: none;
}
.contact-section form input::-moz-placeholder, .contact-section form textarea::-moz-placeholder{
    color: #9C1112;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.contact-section form input::placeholder,
.contact-section form textarea::placeholder{
    color: #9C1112;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.contact-section form button {
    justify-content: center;
    gap: 10px;
color:#9C1112;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(156, 17, 18, 0.58);
}
.contact-section {
    background-color: #9C1112;
    padding: 10px;
    /*margin: 50px 15px;*/
}
.icon-wrapper{
    width: 30px;
    height: 30px;
    background: wheat;
    display: grid;
    place-items: center;
    border-radius: 15px;

}
