@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-theme-red: #9c1112;
        --color-theme-gray: #ECECEC;
    }
}

/** {*/
/*    outline: 1px solid #f00 !important;*/
/*}*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}

img.img-fluid {
    width: 100%;
    height: auto;
}

img.cover-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

img.contain-image {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.pkk-button {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    border-radius: 25px;
    color: var(--color-theme-red);
    background: #fff;
}

.pkk-button {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    border-radius: 25px;
    color: var(--color-theme-red);
    background: #fff;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 43px;
}

.pkk-button.bg-light-red {
    background: var(--color-theme-red);
    color: #fff;
}

h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
}

h2{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}