@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-theme-red: #9c1112;
        --color-theme-gray: #ECECEC;
    }
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}
.container{
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
