@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-theme-red: #9c1112;
        --color-theme-gray: #ECECEC;
    }
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}
.container{
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
footer{
    background-color: #9C1112 !important;
}
footer ul h3 {
    color: #FFF;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
footer ul li{
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}
/*pagination in episode list*/
.section-episode-list .item {
    border: 1px solid #EEE;
    background: #FFF;
    margin-bottom: 10px;
    padding: 10px;
}

#pagination {
    margin-left: 500px;
}

/*======================404page css */
#404-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.error-container {
    text-align: center;
    padding: 100px;
}
.error-heading {
    font-size: 36px;
    color: #9C1112;
    margin-bottom: 20px;
}
.error-message {
    font-size: 24px;
    color: #9C1112;
}
.back-link {
    margin-top: 20px;
}
.back-link a {
    /*border-bottom: 2px solid#9D1212;*/
    color: #9C1112;
    text-align: center;
    /*font-family: Montserrat;*/
    /*font-size: 16px;*/
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}